.wrapper {
    width: 1280px;
    margin:  0 100px;
}
.header_logo{
    margin: 60px 0;
    font-size: 80px;
}
.header_logo a{
    color: black;
    text-decoration: none;
}
.header_logo span{
    color: #4bcaff;
}
.main_top {
    background-color: #35444f;
    width: 100%;
    height: 70px;
}
.main_top ul {
    padding: 0 150px;
}
.main_top ul li {
    list-style-type: none;
    padding: 20px 40px;
    display: inline-block;
    color: white;
    font-size: 24px;
}
.main_top ul li:hover {
    background: #222f3a;

}
.main_left {
    border: 1px solid black;
    width: 340px;
    margin-top: 34px;
}
.main_left li{
    list-style-type: none;
    padding: 30px 30px;
    font-size: 24px;
}
.main_left ul {
    padding: 0;
    margin: 0;
}
.main_left ul li:hover {
    background: #dbdbdb;
}

.content_wrapper {
 width: 884px;
 margin: 35px 0 0 50px;
}
.column {
    display: inline-block;
    vertical-align: top;
}
.raw {
    width: 885px;
    height: 530px;
    border: 1px solid black;
}
.raw img {
    display: block;
    margin: 0 auto;
    padding-top: 75px;
    transition: all 1s ease-out;
}
.raw img:hover {
    transform: scale(1.2);
}
.text {
    padding: 0 35px;
}
.footer{
    background-color: #b4b7ba;
    font-size: 28px;
}

.footer nav ul li {
    display: inline-block;

    padding-right: 35px;
    font-size: 28px;
    list-style-type: none;
}
.footer-block p {
    display: inline-block;
    padding-left: 180px;
}

.footer nav ul li:hover {
    text-decoration: underline;
    color: #3181a6;
}



