body    {
    background-image:  url("..//img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana,  Arial;
    font-size: 18px;
}

p{
    text-align: center
}
.wrapper {
    width: 1060px;
    margin:  0 auto;
    color: white;
}
.header {
    display: flex;
    margin-top: 50px;
    justify-content:space-between;
}
.milan {
    font-size: 29px;
    text-transform: uppercase;
    font-weight: bold;
}
.holidays {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.header-logo{
    display: flex;

}
.header-logo:hover {
    color: #f26522;

}
.logo-img {
    padding-top: 10px;
    margin-right: 10px;
}

.logo-text {
    display: flex;
    flex-direction: column;

}
.contact-text {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.container {

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    margin-top: 48px;

}
.img-container:hover p {
    color: #f26522;
}

.border-img-container {
    max-width: 310px;
    position: relative;
    background: linear-gradient(to bottom, white, black);
    padding: 2px;
}
.check{
    background: #f26522;
    color: white;
    display: none;
    position: absolute;
    top: 140px;
    height: 32px;
    width: 277px;
    padding: 15px;



}
.border-img-container:hover .check{
    display: flex;
}
.check-text-left {
    width: 55%;
    height: 64px;
    display: flex;
    flex-direction: column;
}
.check-text-right {
    text-align: right;
    color: white;
    font-size: 14px;
}

.form{
    font-size: 10px;

}
.eur {
    font-size: 20px;
}
.details a{
    color: white;
    text-decoration: none;
}