.header{
    background-color: #1d2124;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
}
.container {
    max-width: 1171px;
    margin: 0 auto;
    height: auto;
}
.logo {
    color: white;
    text-decoration: none;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-logo {
    padding: 15px;
    background-color: #1a1d20;
}
.menu-main {
    display: flex;
}
.menu-main li {
    padding: 21px 20px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;

}
.search input {
    background-color: #1a1d20;
}
.main {
    background-image: url("../img/header");
    background-repeat: no-repeat;
    background-size: cover;
}
.row {
    width: 100%;
    height: 296px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row h1{
    color: white;
}
.btn {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
}
.btn-left {
    background-color: #89ca62;
}
.btn-right {
    background-color: #14b9d5;
}
.article {
    background-color: #f2f2f2;
    height: auto;
}
.text-post-block {
    padding: 20px 30px;
    background-color: white;
    text-align: center;

}
.h2-popular-posts {
    text-align: center;
    padding: 50px;
    color: #18b4cf;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}
.grid-post-block {
    height: 900px;
    display: flex;
    flex-flow: wrap;


}
.item {
    padding:.2em .5em;
}
.item img {
    display: flex;
}
.block-popular-clients {
    background-image: url("../img/Layer 4.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 589px;
}
.block-popular-clients .container {
    padding-top: 44px;
}
.h2-popular-clients {
    color: white;
    text-align: center;
    padding: 55px;
    text-transform: uppercase;
    font-size: 25px;
}
hr {
    width: 60px;
    height: 2px;
    border: none;
    text-align: center;
    background-color: #18b4cf;
}
.img-clients {
    padding: 50px 0;
    padding-left: 100px;
}

